venue-list{
	.location-title{
		margin:45px 0px;
		text-align: center;
	}
	.venue{
		text-align: center;
		margin:12px 0px;
	}

	.venue-image{
		margin: 0px 0px;
	}

	.venue-distance{
		margin: 5px 0px;
	}

	.venue-name{
		margin: 15px 0px;
	}

	.venue-bio{
		margin: 5px 0px 20px 0px;
	}

	.venue-interactions{
		margin: 5px 0px 20px 0px;
	}

	.venue-divider{
		height:1px;
		background-color:#eeeeee;
	}
}
