<ion-header>
	<app-header></app-header>
</ion-header>
<ion-content>
	<h1 class="location-title">{{location.City_Plain}}</h1>
	<div class="button-container">
		<button ion-button clear class="radio-button" (click)="change_type('food')">
			<img src="assets/icons/scoutFOOD.png"/>
		</button>
		<div class="icon-spacer"></div>
		<button ion-button clear class="radio-button" (click)="change_type('coffee')">
			<img src="assets/icons/scoutCOFFEE.png"/>
		</button>
	</div>
	<ion-list no-lines>
		<ion-item *ngFor="let venue of venues; let i = index" (click)="onSelect(venue)" class="venue" text-wrap>
			<img class="venue-image" src="{{venue.most_liked_media}}"/>
			<p class="venue-distance"><span class="pricespan" *ngIf="venue.price == 1">&#36;</span><span class="pricespan" *ngIf="venue.price == 2">&#36;&#36;</span><span class="pricespan" *ngIf="venue.price == 3">&#36;&#36;&#36;</span><span class="pricespan" *ngIf="venue.price == 4">&#36;&#36;&#36;&#36;</span><span class="distancespan"> {{venue.distance}} km</span></p>
			<!-- <p class="venue-distance">{{venue.prediction}}</p>
			<a href="https://instagram.com/{{venue.instagram}}" target="_blank"><p class="venue-distance">{{venue.instagram}}</p></a> -->
			<h1 class="venue-name">{{i+1}}. {{venue.name}}</h1>
			<p class="venue-bio">{{venue.bio}}</p>
			<p class="venue-interactions">{{venue.interactions}} instagrams</p>
			<div class="venue-divider"></div>
		</ion-item>
	</ion-list>
</ion-content>
