.radio-button{
	width: 50px;
	height: 50px;
	font-size: .9em;
}

.radio-button img{
	width: 20px;
	height: 20px;
}

.button-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
	 border-bottom: 1px solid #eeeeee;
}

venue-list{
	.location-title{
		margin:45px 0px;
		text-align: center;
		font-size: 2.1rem;
		margin-bottom: 35px;
	}
	.venue{
		text-align: center;
		margin:12px 0px;
	}

	.venue-image{
		margin: 0px 0px;
	}

	.venue-distance{
		margin: 5px 0px;
	}

	.venue-name{
		margin: 15px 0px;
	}

	.venue-bio{
		margin: 5px 0px 20px 0px;
		font-size: 1.2rem;
	}

	.price span{
		margin-right: 5px;
	}

	.venue-interactions{
		margin: 5px 0px 20px 0px;
		font-weight: 900;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.5px;
	}

	.venue-divider{
		height:1px;
		background-color:#eeeeee;
	}
}
