profile-page{
	.profile{
		text-align: center;
	}

	.profile-image{
		border-radius: 100%;
		max-width: 100px;
		max-height: 100px;
		margin-top:50px;
	}

	.profile-name{
		margin-bottom:30px;
	}

	.profile-bio{

	}

	.divider{
		width: 100%;
		height:1px;
		background-color:#eeeeee;
		margin:60px 0px;
	}

	.favorites-title{
		text-align: center;
		margin-bottom:50px;
	}
}