profile-page{
	.profile{
		text-align: center;
	}

	.profile-image{
		border-radius: 100%;
		max-width: 100px;
		max-height: 100px;
		margin-top:30px;
	}

	.profile-name{
		margin-bottom:20px;
		font-size: 1.2rem;
	}

	.favorites-name{
		font-size: 1.2rem;
	}

	.profile-bio{

	}

	.divider{
		width: 100%;
		height:1px;
		background-color:#eeeeee;
		margin:30px 0px;
	}

	.favorites-title{
		text-align: center;
		margin-bottom:20px;
		font-family: "apercu" !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    font-size: 12px;
    color: #444;
	}
}
