.loginButton{
  height: 45px;
  background-color: white;
  color: black;
  border: 1px solid #eee;
  top: calc(50% - 25px);
  padding: 0;
  width: 90%;
  left: 5%;
}

.loginButtonText{
  height: 50px;
  border-right: 1px solid #eee;
  text-align: center;
  line-height: 50px;
  width: calc(100% - 50px);
  letter-spacing: .2px;
  font-size: 9px;
}

.loginButtonIcon{
  height: 50px;
  width: 50px;
  //color: #4267b2; //facebook blue
  color: black;
  text-align: center;
  line-height: 50px;
  font-size: 1.5em;
}

.loginButtonIcon img{
  height: 13px;
}

.splashContent .scroll-content{
  background-image: url('../assets/images/scout-splash.jpg');
  background-size: cover;
  border: 9px solid white;
}

.platoform-ios .scroll-content{
  border-top: 20px solid white !important;
}

ion-icon{
  padding: 0 !important;
}
