<ion-header>
	<app-header></app-header>
</ion-header>
<ion-content [attr.noScroll]="shouldScroll" class="homeContent">
	<ion-searchbar mode="md" class="searchbar" placeholder="Type a place name…" (ionInput)="getItems($event)"></ion-searchbar>
	<!--<div class="searchbar near-me" *ngIf='showNearMe' (click)="openNearMe()"><img src="assets/icons/scoutMAP.png"><p>Near me</p></div>-->
  <ion-list no-lines *ngFor="let filter_location of filter_locations" (click)="onSelect(filter_location)">
  	<ion-item class="card-title">{{ filter_location.name }}</ion-item>
  </ion-list>
	<div class="homeImage"></div>
</ion-content>
