<ion-header>
	<app-header></app-header>
	<div class="button-container fixed-header" style="display:none">
		<button ion-button clear class="radio-button" mode="md" (click)="change_type('food')">
			<img src="assets/icons/scoutFOOD.png"/>
		</button>
		<div class="icon-spacer"></div>
		<button ion-button clear class="radio-button" mode="md" (click)="change_type('coffee')">
			<img src="assets/icons/scoutCOFFEE.png"/>
		</button>
	</div>
</ion-header>
<ion-content padding>
	<p class="scout-slogan">The most instagrammed independent places near you</p>
	<div class="button-container main-container">
		<button ion-button clear class="radio-button" mode="md" (click)="change_type('food')">
			<img src="assets/icons/scoutFOOD.png"/>
		</button>
		<div class="icon-spacer"></div>
		<button ion-button clear class="radio-button" mode="md" (click)="change_type('coffee')">
			<img src="assets/icons/scoutCOFFEE.png"/>
		</button>
	</div>
	<ion-list no-lines>
		<div *ngIf="venues.length == 0" class="spinner-wrapper"><ion-spinner></ion-spinner></div>
		<ion-item *ngFor="let venue of venues; let i = index" (click)="onSelect(venue)" class="venue" text-wrap>
			<img class="venue-image" src="{{venue.most_liked_media}}"/>
			<div class="feature">
	  		<div class="price"><span class="pricespan" *ngIf="venue.price == 1">&#36;<span style="color: #ddd">&#36;&#36;&#36;</span></span><span class="pricespan" *ngIf="venue.price == 2">&#36;&#36;<span style="color: #ddd">&#36;&#36;</span></span><span class="pricespan" *ngIf="venue.price == 3">&#36;&#36;&#36;<span style="color: #ddd">&#36;</span></span><span class="pricespan" *ngIf="venue.price == 4">&#36;&#36;&#36;&#36;</span></div>
				<div class="feature-spacer"></div>
				<p class="venue-distance" (click)="open_map()">{{venue.distance}} km </p>
				<div class="feature-spacer"></div>
				<p class="venue-category">{{venue.category.name}}</p>
				<div class="feature-spacer"></div>
				<p *ngIf="venue.open_status == 0" class="open-status">-</p>
				<p *ngIf="venue.open_status == 1" class="open-status"><span style="color: #2ECC71">Open</span></p>
				<p *ngIf="venue.open_status == 2" class="open-status"><span style="color: #EF4836">Closed</span></p>
	  	</div>
			<!-- <p class="venue-distance">{{venue.prediction}}</p>
			<a href="https://instagram.com/{{venue.instagram}}" target="_blank"><p class="venue-distance">{{venue.instagram}}</p></a> -->
			<h1 class="venue-name">{{i+1}}. {{venue.name}}</h1>
			<p class="venue-bio">{{venue.bio}}</p>
			<p class="venue-interactions">{{venue.interactions}} instagrams</p>
			<div class="venue-divider"></div>
		</ion-item>
	</ion-list>
</ion-content>
