venue-detail {

	.venue{
		text-align: center;
		margin:12px 0px;
	}

	a{
		color: black;
		text-decoration: none;
	}

	.venue-image{
		margin: 0px 0px;
	}

	.venue-distance{
		margin: 10px 0px;
		display: inline-block;
		text-decoration: underline;
	}

	.favorite-heart{
		width:15px;
		height:15px;
		margin-left:8px;
		margin-bottom:-2px;
	}

	.venue-name{
		margin: 20px 0px;
	}

	.venue-bio{
		margin: 5px 0px 40px 0px;
	}

	[col-6]{
		padding:2px 2px 0px 2px;
	}
}
