<ion-header>
	<app-header></app-header>
</ion-header>
<ion-content padding>
	<div class="venue">
	  	<img class="venue-image" src={{venue.most_liked_media}}/>
	  	<div class="feature">
	  		<div class="price"><span *ngIf="venue.price == 1">&#36;</span><span *ngIf="venue.price == 2">&#36;&#36;</span><span *ngIf="venue.price == 3">&#36;&#36;&#36;</span><span *ngIf="venue.price == 4">&#36;&#36;&#36;&#36;</span></div>
				<p class="venue-distance" (click)="open_map()">{{venue.distance}} km - DIRECTIONS</p>
	  		<img class="favorite-heart" src={{heart_image}} (click)="favorite_venue()" />
	  	</div>
	   <a href="https:/instagram.com//{{venue.instagram}}"><h1 class="venue-name">{{venue.name}}</h1></a>
	    <p class="venue-bio">{{venue.bio}}</p>
		<ion-grid>
		  	<ion-row *ngFor="let m of top_media">
		    	<ion-col col-6><img src={{m[0].images.thumbnail.url}}/></ion-col>
		    	<ion-col col-6><img src={{m[1].images.thumbnail.url}}/></ion-col>
		  	</ion-row>
		</ion-grid>
	</div>
</ion-content>
