venue-detail {

	.venue{
		text-align: center;
		margin:12px 0px;
	}

	a{
		color: black;
		text-decoration: none;
	}

	.feature{
		margin-top: 7px
	}

	.venue-image{
		margin: 0px 0px;
		filter: contrast(0.9);
	}

	.venue-distance{
		margin: 10px 0px;
		display: inline-block;
		text-decoration: underline;
		border-left: solid 1px #e7e7e7;
	  border-right: solid 1px #e7e7e7;
	  padding: 0px 14px;
	}

	.price{
		margin-right: 8px;
		display: inline-block;
		font-size: 1em;
	}

	.favorite-heart{
		width:15px;
		height:15px;
		margin-left:10px;
		margin-bottom:-2px;
	}

	.venue-name{
		margin: 20px 0px;
		margin-top: 1rem !important;
		font-size: 2.1rem;
	}

	.venue-bio{
		margin: 5px 0px 40px 0px;
		font-size: 1.2rem;
	}

	.price span{
		margin-right: 5px;
	}

	[col-6]{
		padding:2px 2px 0px 2px;
	}
}
