app-header{

	.logo{
		height: 14px;
	}

	.nav-icon-container{
		display: inline-block;
		position:absolute;
		top:50%;
		transform:translateY(-50%);
	}
	.nav-left{
		left:6px;
	}

	.nav-right{
		right:6px;
	}

	.nav-center{
		width: 150px;
		left: calc(50% - 75px);
	}

	.nav-icon{
		display:inline-block;
		width:30px;
		height:30px;
	}

	.nav-map{
		padding:4px;
	}

	.nav-account{
		padding:2px;
	}

	.nav-back{
		padding:2px;
	}

	ion-navbar{
		text-align:center;
	}

	ion-title{
	}

	ion-title img{
		display: inline-block;
	}

	.title-divider{
		height:1px;
		width:100%;
		background-color:#eeeeee;
		position: absolute;
		bottom:0px;
		left:0px;
	}

	.back-button{
		position:absolute;
		top:8px !important;
		z-index:100;
		display:none !important;
	}
}
